# Server Port
PORT=5000

# Resend Email Integration (https://resend.com/api-keys)
RESEND_API_KEY=re_your_api_key_here
RESEND_FROM_EMAIL=Rock One Wild Tea <onboarding@resend.dev>

# Concierge Notification Inbox (Where new customer inquiries will be sent)
CONCIERGE_EMAIL=axentrat@gmail.com
